{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Poupança{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
<!-- <div class="dentroConteudo"> -->
    <h2>Poupança</h2>

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Configurações atualizadas com sucesso!</p>
        </div>
    {% endif %} 

    <div class="row"> 
        <div class="camp border margem">
            <h3>Planejado: </h3>
            <h1>R${{poupanca.planejado}}</h1>
            <!-- <p>Valor que se deseja alcançar juntando.</p> -->
        </div>

        <div class="camp border margem">
            <h3>Guardado: </h3>
            <h1>R${{poupanca.guardado}}</h1>
            <!-- <p>Valor guardado até o momento.</p> -->
        </div>
    </div>
    
    <div class="row">
        <div class="camp border margem">
            <h3>Separar: </h3>
            <h1>R${{poupanca.mensal}}</h1>
            <!-- <p>Valor que será separado por mês.</p> -->
        </div>

        <div class="camp border margem">
            <h3>Prazo: </h3>
            <!-- <p>para atingir o valor planejado.</p> -->
            
            {% if poupanca.meses != -1 %}
                <div style="display: flex; justify-content: center; align-items: center;">
                    <h1 style="margin-right: 15px;">{{poupanca.data.meses}}</h1>
                    <p>Meses</p>
                </div>
    
            {% else %}
                <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                    <h1>Indefinido</h1>
                    <p>Não foi possível calcular</p>
                </div>
    
            {% endif %}
    
        </div>

    </div>
    
    <a href="{% url 'configurar' %}"><button class="line bt2">Editar</button></a>

    
{% endblock %}