{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="utf-8">
		<title>{% block 'titulo' %} {% endblock %}</title>
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
        <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/usuario.css' %}">
        <link rel="stylesheet" href="{% static 'css/mobile.css' %}">
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="{% static 'js/script.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% block 'head' %} {% endblock %}
	</head>
 

	<body>

		<header>
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo">
                    <p>MinhasFinanças</p>
                </a>
            </div>
    
            {%if user.is_anonymous %}
            <nav class="opcoes">
                <a href="{% url 'login' %}"><button class="bt1">Login</button></a>
                <a href="{% url 'cadastro' %}" ><button class="bt2">Cadastro</button></a>
            </nav>
            
            {%else%}
            <nav class="opcoes">
                <ul>
                    <li class='dropdown'>
                        <a href="#"><img src="{% static 'img/profile.svg' %}" alt=""></a>
                        <div class='mega-menu'>
                            <div class="container">
                                <a href="{% url 'configuracoes' %}"><img src="{% static 'img/settings.svg' %}" alt="">Configurações</a>
                                <a href="{% url 'sair' %}"><img src="{% static 'img/exit.svg' %}" alt="">Sair</a>
                            </div><!-- /.container -->
                        </div><!-- /.mega-menu -->
                    </li><!-- /.dropdown -->

                    <!-- <li class='dropdown'>
                        <a href="#"><img src="{% static 'img/notification.svg' %}" alt=""></a>
                        <div class='mega-menu'>
                            <div class="container">
                            </div>
                        </div>
                    </li> -->

                    <li class='dropdown'>
                        <a href="#"><img src="{% static 'img/menu.svg' %}" alt=""></a>
                        <div class='mega-menu'>
                            <div class="container">
                                <a href="{% url 'renda' %}"><button class="line bt2">Cadastrar renda</button></a>
                                <a href="{% url 'poupanca' %}"><button class="line bt2">Poupança</button></a>
                                <a href="{% url 'categories' %}"><button class="line bt2">Categorias</button></a>
                                <a href="{% url 'despesas' %}"><button class="line bt2">Despesas</button></a>
                            </div><!-- /.container -->
                        </div><!-- /.mega-menu -->
                    </li><!-- /.dropdown -->

                </ul>
                 
               
            </nav>

            {%endif%}
            
		</header>

		<main>
			{% block 'conteudo' %}{% endblock %}

        </main>

		<footer>
			<div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo">
                    <p>MinhasFinanças</p>
                </a>
            </div>
    
            <div class="paginas">
                <a href="{% url 'sobre' %}">Sobre</a>
                <a href="{% url 'contato' %}">Contato</a>
            </div>
    
            <div class="redesSociais">
                <a href="#">
                    <img src="{% static 'img/bi_facebook.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_instagram.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_github.svg' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/bi_twitter.svg' %}" alt="">
                </a>
                <a href="">
                    <img src="{% static 'img/bi_linkedin.svg' %}" alt="">
                </a>
            </div>
		</footer>

	</body>

	<script></script>
</html>