{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

	<head>
		<meta charset="utf-8">
		<title>{% block 'titulo' %} {% endblock %}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="shortcut icon" href="{% static 'img/logo.svg' %}" type="image/x-icon">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">
		<link rel="stylesheet" href="{% static 'css/usuario.css' %}">
        {% block 'head' %} {% endblock %}
	</head>
	<body>

		<header>
            <div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo">
                    <p>MinhasFinanças</p>
                </a>
            </div>
    
            <nav class="opcoes">
                <a href="#"><img src="{% static 'img/profile.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/notification.svg' %}" alt=""></a>
                <a href="#"><img src="{% static 'img/menu.svg' %}" alt=""></a>
            </nav>
		</header>

		<main>
			{% block 'conteudo' %}{% endblock %}
        </main>

		<footer>
			<div class="logo">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/logo.svg' %}" alt="Logo">
                    <p>MinhasFinanças</p>
                </a>
            </div>
    
            <div class="paginas">
                <a href="#">Sobre</a>
                <a href="#">Contato</a>
            </div>
    
            <div class="redesSociais">
                <a href="#">
                    <img src="{% static 'img/bi_facebook.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_instagram.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_github.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_twitter.svg' %}" alt="">
                </a>
                <a href="#">
                    <img src="{% static 'img/bi_linkedin.svg' %}" alt="">
                </a>
            </div>
		</footer>

	</body>

    <script></script>
	
</html>