/env
/links.txt
/sistema_ger_financas_pessoais/sistema_ger_financas_pessoais/__pycache__/
/sistema_ger_financas_pessoais/users/__pycache__/
/sistema_ger_financas_pessoais/users/migrations/__pycache__/
/sistema_ger_financas_pessoais/users/views/__pycache__/
sistema_ger_financas_pessoais/home/__pycache__/
sistema_ger_financas_pessoais/home/migrations/__pycache__/
sistema_ger_financas_pessoais/home/views/__pycache__/
sistema_ger_financas_pessoais/categories/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/categories/__pycache__/admin.cpython-38.pyc
sistema_ger_financas_pessoais/categories/__pycache__/apps.cpython-38.pyc
sistema_ger_financas_pessoais/categories/__pycache__/models.cpython-38.pyc
sistema_ger_financas_pessoais/categories/__pycache__/urls.cpython-38.pyc
sistema_ger_financas_pessoais/categories/migrations/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/categories/views/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/categories/views/__pycache__/categories.cpython-38.pyc
sistema_ger_financas_pessoais/categories/views/__pycache__/delete.cpython-38.pyc
sistema_ger_financas_pessoais/categories/views/__pycache__/edita.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/__pycache__/admin.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/__pycache__/apps.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/__pycache__/models.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/__pycache__/urls.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/migrations/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/views/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/views/__pycache__/cadastro.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/views/__pycache__/despesas.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/views/__pycache__/delete.cpython-38.pyc
sistema_ger_financas_pessoais/despesas/views/__pycache__/editar.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/__pycache__/admin.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/__pycache__/apps.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/__pycache__/models.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/__pycache__/urls.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/migrations/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/views/__pycache__/__init__.cpython-38.pyc
sistema_ger_financas_pessoais/poupanca/views/__pycache__/poupanca.cpython-38.pyc
