{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Cadastro{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}

    <h2>Cadastro</h2>

    {% if status == '1'%}
        <div class="alerta errado">
            <p>O email inserido já foi cadastrado!</p> 
        </div>
    {% endif %}


    <form method="POST" action="{% url 'validaCadastro' %}" enctype="multipart/form-data"> {% csrf_token %}

        <div class="camp userName">
            <label for="userName">Nome</label>
            <input type="text" name="userName" id="user_name" placeholder="" autocomplete="off" required>
        </div>

        <div class="camp emailUser">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="" autocomplete="off" required>
        </div>

        <div class="camp passwordUser">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" placeholder="" minlength="8" required>
        </div>

        <!-- <div class="passwordUser">
            <input type="password" name="confirm_password" id="password" placeholder="Confirme a senha" minlength="8" required>
        </div> -->

        <div class="camp">
            <button class="bt2" type="submit" value="Cadastrar">Cadastrar</button>
        </div>
        

        <!-- <button>
            <a href="{% url 'login' %}">
                Login
            </a>
        </button> -->

    </form>


{% endblock %}