{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Esqueceu a senha{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}

    <h2>Redefinir a senha</h2>

    {% if status == '1'%}
        <div class="alerta errado">
            <p>A senha e a confirmação de senha estão diferentes!</p> 
        </div>
    {% endif %}

    {% if status == '2'%}
        <div class="alerta errado">
            <p>O email não foi cadastrado!</p> 
        </div>
    {% endif %}

    <form method="POST" action="{% url 'validaEsqueceuSenha' %}" enctype="multipart/form-data"> {% csrf_token %}
        
        <div class="emailUser camp">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" autocomplete="off" required>
        </div>

        <div class="passwordUser camp">
            <label for="password">Nova senha</label>
            <input type="password" name="password" id="password" minlength="8" required>
        </div>

        <div class="passwordUser camp">
            <label for="confirm_password">Confirme a senha</label>
            <input type="password" name="confirm_password" id="password" minlength="8" required>   
        </div>

        <div class="camp">
            <button class="bt2" type="submit">Alterar</button>
        </div>

        

        <!-- <div class="row">
            <a class="camp" href="{% url 'cadastro' %}">
                <button class="bt2">Cadastro</button>
            </a>

            <a  class="camp" href="{% url 'login' %}">
                <button class="bt2">Login</button>
            </a>
        </div> -->
       
            
       
    
    </form>

{% endblock %}