{% extends 'base.html' %} 


{% load static %}

{% block 'titulo' %}Login{% endblock %}



{% block 'head' %}{% endblock %} 


{% block 'conteudo' %} 


{% if status == '0'%}
    <div class="alerta certo">
        <p>Cadastro realizado com sucesso!</p>
    </div>
{% endif %} 

{% if status == '1'%}
    <div class="alerta errado">
        <p>Realize o seu login!</p>
    </div>
{% endif %}

{% if status == '2'%}
    <div class="alerta errado">
        <p>Conta excluida com sucesso!</p>
    </div>
{% endif %}

{% if status == '3'%}
    <div class="alerta errado">
        <p>Email não encontrado!</p>
    </div>
{% endif %}


{% if status == '4'%}
    <div class="alerta errado">
        <p>Senha incorreta!</p>
    </div>
{% endif %}


<h2>Login</h2>

<form
    method="POST"
    class="camp"
    action="{% url 'validaLogin' %}"
    enctype="multipart/form-data"
>
    {% csrf_token %}

    <div class="camp emailUser">
        <label for="email">Email</label>
        <input
            type="email"
            name="email"
            id="email"
            placeholder=""
            autocomplete="off"
            required
        />
    </div>

    <div class="camp passwordUser">
        <label for="password">Senha</label>
        <input
            type="password"
            name="password"
            id="password"
            placeholder=""
            minlength="8"
            required
        />
    </div>

    <div class="camp">
        <button class="bt2" type="submit" value="Entrar">Entrar</button>

        <!-- <a href="{% url 'cadastro' %}"> <span>CADASTRAR</span></a> -->

        <a href="{% url 'esqueceuSenha' %}"><span>Esqueceu a senha?</span></a>
    </div>
</form>

{% endblock %}
