{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}Cadastro de Renda{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Cadastro de renda</h2>

    {% if status == '1'%}
        <div class="alerta certo">
            <p>A renda foi cadastrada com sucesso!</p> 
        </div>
    {% endif %}

    <form method="POST" class="camp" action="{% url 'validaRenda' %}" enctype="multipart/form-data"> {% csrf_token %}
        
        <div class="camp">
            <label for="value">Insira o seu saldo atual:</label>
            <input type="number" value="0.00" name="saldo" step="any" min="0.00" required>
        </div>

        <div class="camp">
            <label for="value">Insira o valor da renda mensal:</label>
            <input type="number" value="0.00" name="valor" step="any" min="0.00" required>
        </div>

        <div class="camp">
            <label for="value">Insira o dia do mês:</label>
            <input type="date" name="dia" required>
        </div>

        <div class="camp">
            <button type="submit" class="bt2">Cadastrar</button>
        </div>

    
    </form>

{% endblock %}