{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Cadastrar Despesa{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Cadastrar Despesa</h2>

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Cadastro realizado com sucesso!</p> 
        </div>
    {% endif %}

    <form style="display: flex; flex-direction: column;" method="POST" action="{% url 'validaCadDes' %}" enctype="multipart/form-data"> {% csrf_token %}

        <div class="camp">
            <label for="name">Nome:</label>
            <input name="name" id="name" type="text" maxlength="25" required autocomplete="off">
        </div>
        
        <div class="camp">
            <label for="description">Descrição:</label>
            <textarea name="description" id="description"></textarea>
        </div>

        <div class="camp">
            <label for="valor">Valor total:</label>
            <input type="number" value="1.00" id="valor" name="valor" step="any" min="0.01">
        </div>

        <div class="camp">
            <label for="valor">Valor já pago:</label>
            <input type="number" value="0.00" id="pago" name="pago" step="any" min="0.00">
        </div>
        
        <div class="camp">
            <label for="vencimento">Data de Vencimento:</label>
            <input type="date" name="vencimento" id="vencimento" value="{{hoje}}">    
        </div>
        
        <div class="camp">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="selCat" required>
                {% for i in categorias.itens %}
                    <option value="{{i.id}}">{{i.name}}</option>
                {% endfor %}
            </select>    
        </div>

        <div class="camp">
            <button type="submit" value="Cadastrar" class="bt2">Cadastrar</button>   
        </div>
        
    </form>

{% endblock %}