{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}Excluir Despesa{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Excluir Despesa</h2>

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Categorias removidas com sucesso!</p> 
        </div>
    {% endif %}

    {% if status == '1'%}
        <div class="alerta errado">
            <p>Nenhum item foi selecionado!</p> 
        </div>
    {% endif %}

    <p>Selecione as despesas que deseja excluir: </p>
    <form method="POST" action="{% url 'validaDeleteDes' %}" enctype="multipart/form-data"> {% csrf_token %}
        {% if qnt > 0 %}
            {% for i in despesas %}
                <div class="line">
                    <input type="checkbox" name="select{{i.id}}" id="{{i.id}}">
                    <label for="{{i.id}}">{{i.name}}</label> 
                </div>
            {% endfor %}
            <div class="camp">
                <button class="bt2" type="submit" value="Excluir">Excluir</button>
            </div>
        {% else %}
            <p>Todas as despesas foram apagadas.</p>
        {% endif %}

    </form>

{% endblock %}