{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}Despesas{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Despesas</h2>



    <div class="listagem">

        {% if qnt > 0 %}

            <ul>
                {% for i in despesas %}
                    <li>
                        <a href="{% url 'despesa' i.id %}">
                            <h3>{{i.name}}</h3>
                            <p>{{i.description}}</p>
                            <p>{{i.valor.restante}}R$</p> 
                            <p>{{i.vencimento}}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        
        {% else %}

            <p>Nenhuma despesa cadastrada.</p>
            
        {% endif %}

    </div>

    <div class="line">
        <a href="{% url 'cadastrarDes' %}"><button class="bt2 line">Cadastrar</button></a>
        <a href="{% url 'deleteDes' %}"><button class="bt2 line">Excluir</button></a>
        <a href="{% url 'editarDes' %}"><button class="bt2 line">Editar</button></a>
    </div>
    
{% endblock %}