{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Despesas</h2>

    <div class="listagem">
        <ul>
            {% for i in despesas %}
                <li>
                    <h5>{{i.name}}</h5>
                    <p>{{i.description}}</p>
                    <p>{{i.valor}}R$</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="line">
        <a href="{% url 'cadastrarDes' %}"><button class="bt2 line">Cadastrar</button></a>
        <a href="{% url 'deleteDes' %}"><button class="bt2 line">Excluir</button></a>
        <a href="{% url 'editarDes' %}"><button class="bt2 line">Editar</button></a>
    </div>
    
{% endblock %}