{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Editar Despesa{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
<div class="dentroConteudo">
    <h1>Editar "{{despesa.name}}"</h1>

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Despesa editada com sucesso!</p> 
        </div>
    {% endif %}

    <form method="POST" action="{% url 'validaEditDes' despesa.id %}" enctype="multipart/form-data"> {% csrf_token %}

        <div class="camp">
            <label for="name">Nome:</label>
            <input name="name" id="name" type="text" maxlength="25" autocomplete="off" value="{{despesa.name}}">
        </div>
        
        <div class="camp">
            <label for="description">Descrição:</label>
            <textarea name="description" id="description">{{despesa.description}}</textarea>
        </div>

        <div class="camp">
            <label for="valor">Valor total:</label>
            <input type="number" id="valor" value="{{valores.completo}}" name="valor" step="any" min="1.00">
        </div>

        <div class="camp">
            <label for="pago">Valor já pago:</label>
            <input type="number" value="{{valores.pago}}" id="pago" name="pago" step="any" min="0.0">
        </div>
        
        <div class="camp">
            <label for="vencimento">Data de Vencimento:</label>
            <input type="date" name="vencimento" id="vencimento" value="{{despesa.vencimento}}">    
        </div>
        
        <div class="camp">
            <label for="categoria">Categoria:</label>
            <select name="categoria" id="selCat">
                {% for i in categorias %}

                    {% if i.id == despesa.categoria %}
                        <option value="{{i.id}}" selected>{{i.name}}</option>
                    {% else %}
                        <option value="{{i.id}}">{{i.name}}</option>
                    {% endif %}

                {% endfor %}
            </select>    
        </div>

        <div class="camp">
            <input type="submit" value="Editar">    
        </div>

    </form>
</div>
{% endblock %}