{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Cadastrar Categoria{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Cadastrar uma nova Categoria</h2>

    {% if status == '0'%}
        <div class="alerta certo">
            <p>Cadastro realizado com sucesso!</p> 
        </div>
    {% endif %}

    <form method="POST" class="camp" action="{% url 'validaCadCategories' %}" enctype="multipart/form-data"> {% csrf_token %}
        <label for="name">Nome:</label>
        <input name="name" id="name" type="text" maxlength="25" required>
        
        <label for="description">Descrição:</label>
        <textarea name="description" id="description"></textarea>

        <label for="colorDesc">Cor:</label>
        <input type="color" name="colorDesc" id="colorDesc">

        <input type="submit" class="bt2" value="Cadastrar">

    </form>
{% endblock %}