{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Categorias{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h2>Categorias</h2>

    <div class="categories">
        {% for i in categories %}
            <!-- <div class="cat" style="transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s;" onmouseover="poeCor('{{i.color}}', '{{forloop.counter0}}')"> -->
            <div>
                <h3>{{forloop.counter}}. <strong>{{i.name}}</strong></h3>
                <p>{{i.description}}</p>
                <br>
            </div>
        {% endfor %}
    </div>

    <div class="line">
        <a href="{% url 'cadastraCat' %}"><button class="line bt2">Cadastrar nova categoria</button></a>
        <a href="{% url 'deleteCat' %}"><button class="line bt2">Excluir uma categoria</button></a>
        <a href="{% url 'editaCat' %}"><button class="line bt2">Editar uma categoria</button></a>

    </div>
    


<script>

    function poeCor(cor, num){
        /* Isso aqui era apenas um teste que eu estava fazendo, desconsidere, ou se tiver dúvidas pode olhar por aqui. */
        document.getElementsByClassName('cat')[num].style.backgroundColor = cor
    }

</script>

{% endblock %}