{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Página Inicial{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}

<div class="line"> 

    <div class="perfil" style="margin-bottom: 20px;">
        <!-- <img src="{% static 'img/profile.svg' %}" alt=""> -->
        <h1>Olá, {{user.name}}!</h1>
    </div>

    <!-- <h1>Bem vindo, {{user.name}}!</h1> -->

    <div class="tabela" style="display: flex;">
        
        <div class="camp border margem">
            <div>
                <h3>Cartão</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.cartoes}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Boleto</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.boletos}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Pix</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.pix}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Especie</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.especie}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

    </div>

    <div class="line"> 
        <a href="{% url 'configurar' %}"><button class="line bt2">Guardar Dinheiro</button></a>
        <a href="{% url 'renda' %}"><button class="line bt2">Cadastrar renda</button></a>
        <a href="{% url 'poupanca' %}"><button class="line bt2">Poupança</button></a>
        <a href="{% url 'categories' %}"><button class="line bt2">Categorias</button></a>
        <a href="{% url 'despesas' %}"><button class="line bt2">Despesas</button></a>
        <a href="{% url 'pagamentos' %}"><button class="line bt2">Pagamentos</button></a> 
        <a href="{% url 'pagamentos' %}"><button class="line bt2">Pagamentos</button></a>
        <a href="{% url 'formas' %}"><button class="line bt2">Formas de Pagamento</button></a>

        <a href="{% url 'configuracoes' %}"><button class="line bt2">Configurações</button></a>
        <a href="{% url 'sair' %}"><button class="line bt2">Sair</button></a>
    </div>

    <div>
        <div  id="gr1"></div>

        <div  id="gr2"></div>

        <div  id="gr3"></div>
    </div>


    <div style="width: 100%;">

        <!-- {{despesas}} -->


        <div class="concluidas border" style="margin-top: 25px;" >
            <h3>Concluídas</h3>

            <div class="border margin" style="max-width: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>Quantidade</p>
                <h2>{{despesas.concluidas.qnt}}</h2>
                <p>Despesas</p>
            </div>

            <div class="itens" style="display: flex;">
                {% for i in despesas.concluidas.itens %}
                    <a href="{% url 'despesa' i.id %}" style="display: flex; min-width: 250px; background-color: yellowgreen; border-radius: 10px;">
                        <div class="border">
                            <p>Nome: <strong>{{i.name}}</strong></p>
                            <p>Valor Total: <strong>{{i.valor.completo}}</strong></p>
                            <p>Valor Pago: <strong>{{i.valor.pago}}</strong></p>
                            <p>Vencimento: <strong>{{i.vencimento}}</strong></p>
                        </div>
                    </a>
                    
                {% endfor %}

            </div>



        </div>

        <div class="em_andamento border" style="margin-top: 25px;" >
            <h3>Em Andamento</h3>

            <div class="border margin" style="max-width: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>Quantidade</p>
                <h2>{{despesas.em_andamento.qnt}}</h2>
                <p>Despesas</p>
            </div>

            <div class="itens" style="display: flex;">
                {% for i in despesas.em_andamento.itens %}
                    <a href="{% url 'despesa' i.id %}" style="display: flex; min-width: 250px; background-color: yellow; border-radius: 10px;">
                        <div class="border">
                            <p>Nome: <strong>{{i.name}}</strong></p>
                            <p>Valor Total: <strong>{{i.valor.completo}}</strong></p>
                            <p>Valor Pago: <strong>{{i.valor.pago}}</strong></p>
                            <p>Vencimento: <strong>{{i.vencimento}}</strong></p>
                        </div>
                    </a>
                {% endfor %}

            </div>



        </div>

        <div class="em_andamento border" style="margin-top: 25px;" >
            <h3>Atrasadas</h3>

            <div class="border margin" style="max-width: 100px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <p>Quantidade</p>
                <h2>{{despesas.atrasadas.qnt}}</h2>
                <p>Despesas</p>
            </div>

            <div class="itens" style="display: flex;">
                {% for i in despesas.atrasadas.itens %}
                    <a href="{% url 'despesa' i.id %}" style="display: flex; min-width: 250px; background-color: red; border-radius: 10px;">
                        <div class="border">
                            <p>Nome: <strong>{{i.name}}</strong></p>
                            <p>Valor Total: <strong>{{i.valor.completo}}</strong></p>
                            <p>Valor Pago: <strong>{{i.valor.pago}}</strong></p>
                            <p>Vencimento: <strong>{{i.vencimento}}</strong></p>
                        </div>
                    </a>
                {% endfor %}

            </div>

        </div>

    </div>

</div>
   
    
    
    
    


     
   
    
    
{% endblock %}