{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}Página Inicial{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
    <h1>Bem vindo, {{user.name}}!</h1>
    <div class="line"> 
        <a href="{% url 'renda' %}"><button class="line bt2">Cadastrar renda</button></a>
        <a href="{% url 'poupanca' %}"><button class="line bt2">Poupança</button></a>
        <a href="{% url 'categories' %}"><button class="line bt2">Categorias</button></a>
        <a href="{% url 'despesas' %}"><button class="line bt2">Despesas</button></a>
        <!-- <a href="{% url 'pagamentos' %}"><button class="line bt2">Pagamentos</button></a> -->

        <a href="{% url 'configuracoes' %}"><button class="line bt2">Configurações</button></a>
        <a href="{% url 'sair' %}"><button class="line bt2">Sair</button></a>
    </div>
{% endblock %}