{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Sobre{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
<section class="part">
    <img src="{% static 'img/logo.svg' %}" alt="Logo">
    <p>As consequências da pandemia na economia do país tem sido cada vez mais
        evidentes, segundo a Confederação Nacional do Comércio de Bens, Serviços e Turismo
        (CNC), o percentual de famílias com dívidas ou contas em atraso bateu um novo
        recorde, atingindo 28,6% do total de famílias, 0,8 ponto maior do que o percentual de
        março e 4,3 pontos acima do apurado em abril de 2021, mostrando significativa piora na
        evolução, nos últimos três meses.
        
        Considerando que o número de indivíduos onde não possuem educação financeira
        é superior aos que possuem, pelo menos, um mínimo de conhecimento relacionado à
        gestão das finanças pessoais. 
        Vale destacar que a falta de planejamento financeiro, pode acarretar em prejuízos
        não apenas financeiros, mas também em setores como saúde, trabalho, família e escola.
        Considerando esses pontos, esse sistema busca auxiliar
        seus usuários disponibilizando funcionalidades que facilitem o controle de gastos e
        planejamento de compras futuras.</p>
</section>

<section class="part">
    <h3>Politica de Privacidade</h3>
    <p>A sua privacidade é importante para nós. É política do site respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar e outros sites que possuímos e operamos.

        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemos por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.
        
        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
        
        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
</section>
{% endblock %}