{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %}Sobre{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
<section class="part">
    <img src="{% static 'img/logo.svg' %}" alt="Logo">
    <p style="text-align: center;">Pronto(a) para ter todo o controle e praticidade que a planilha financeira não te oferece? <br>

        No minhas finanças você controla seu dinheiro em tempo real em uma solução completa, prática e segura,<br>garantindo uma gestão financeira fantástica.<br>
        
        Pelo celular ou computador, você consegue reunir toda a sua vida financeira em um único lugar.<br>Gerencie sua carteira, suas faturas do cartão de crédito e contas bancárias em um sistema simples e muito fácil de usar.</p>
</section>

<section class="part">
    <h3>Politica de Privacidade</h3>
    <p>A sua privacidade é importante para nós. É política do site respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar e outros sites que possuímos e operamos.

        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemos por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.
        
        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.
        
        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.</p>
</section>
{% endblock %}