{% extends 'baseUsuario.html' %}
{% load static %}

{% block 'titulo' %}Formas de Pagamento{% endblock %} 

{% block 'head' %}
{% endblock %}

{% block 'conteudo' %}
<div class="dentroConteudo">
    <h1>Formas de Pagamento</h1>

    

    <div class="tabela" style="display: flex;">
        
        <div class="camp border margem">
            <div>
                <h3>Cartão</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.cartoes}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Boleto</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.boletos}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Pix</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.pix}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

        <div class="camp border margem">
            <div>
                <h3>Especie</h3>
            </div>

            <div style="display: flex; align-items: center; flex-direction: column;">
                <h2>{{qnt_pagos.especie}}</h2>
                <p>pagamentos feitos.</p>
            </div>
        </div>

    </div>

    <div style="margin-top: 25px;">
        <h1>Cartões Cadastrados:</h1>
        
        {% if status == '1' %}
            <div class="alerta certo">
                <p>Cartão excluido com sucesso!</p> 
            </div>
        {% endif %}
        
        {% if qnt_cartoes > 0 %}    

            <div style="display: flex;">
                {% for i in pagamento.cartoes.personalizados %}
                    <a href="{% url 'cartao' i.id %}">
                        <div class="camp border margem" style="padding-top: 25px; padding-bottom: 25px;">
                            <h3>{{i.banco}}</h3>
                            <p>{{i.limite}} R$</p>
                            <p>{{i.vencimento}}</p>
                        </div>    
                    </a>
                    
                {% endfor %}
            </div>
            


        {% else %}
            <p>
                Nenhum cartão foi cadastrado até o momento.
            </p>
        {% endif %}
    </div>


    <div class="line">
        <a href="{% url 'cadastrar_cartao' %}"><button class="line bt2">Adicionar Cartão</button></a>
    </div>



</div>

<!-- <p>{{qnt_pagos}}</p> -->
{% endblock %}